<ion-content>
  <div style="text-align: center; align-content:center; align-self:center; margin-top: 70px;">
    <img src="/assets/img/imageError.jpg" style= "width: 250px; height: 250px;"/>
  </div>
  <ion-card-header>
    <ion-card-title text-center>ERROR 404</ion-card-title>
  </ion-card-header>
  <ion-card-content text-center>
    <p>Página no encontrada</p>
  </ion-card-content>
  <div style="text-align: center; align-content:center; align-self:center; margin-top: 5px;">
    <ion-button fill="clear" (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
  </div>
  </ion-content>