<ion-header>
  <ion-toolbar color="mostaza">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Sobre Nosotros!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-text text-center>
    <h5>Somos estudiantes universitarios de la carrera de Ingeniería en sistemas.</h5>
  </ion-text>

  <ion-text text-center>
    <h5>Hace un año tuvimos la idea de ULeng!</h5>
  </ion-text>
    
  <ion-text text-center>
    <h5>ULeng! es el resultado de la necesidad de comunicarnos 
      con una parte de la población que padece discapacidad auditiva 
      y a través de esta aplicación se podrá interactuar en cualquier 
      entorno promoviendo una sociedad inclusiva.
    </h5>
  </ion-text>

</ion-content>
