<ion-header>
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Términos y Uso!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <ion-text text-center>
    <h3>Aceptación de los Términos y Condiciones</h3>
  </ion-text>

  <ion-text>
      <h4><b>Información Relevante</b></h4>
  </ion-text>

  <ion-text text-justify>
    <h5>Es requisito necesario para los servicios que se ofrecen en este sitio, que lea y acepte los siguientes
      Términos y Condiciones que acontinuación se redactan. El uso de nuestros servicios implicará que usted 
      ha leído y aceptado los términos y condiciones de uso en el presente documento.
    </h5>
  </ion-text>

  <ion-text>
    <h4><b>Propiedad</b></h4>
  </ion-text>

  <ion-text text-justify>
    <h5>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros servicios.
      Todos los servicios son propiedad de los creadores del contenido.
    </h5>
  </ion-text>

  <ion-text>
    <h4><b>Privacidad</b></h4>
  </ion-text>

  <ion-text text-justify>
    <h5>Esta aplicación garantiza que la información qe usted envía cuenta con la seguridad necesaria.
      Uleng! reserva los derechos de cambiar o modificar estos términos sin previo aviso.
    </h5>
    </ion-text>

</ion-content>
