<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Números!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="violeta">

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 40px;">
    <a href="num-cero"><img src="/assets/img/0.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-uno"><img src="/assets/img/1.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-dos"><img src="/assets/img/2.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-tres"><img src="/assets/img/3.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-cuatro"><img src="/assets/img/4.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-cinco"><img src="/assets/img/5.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-seis"><img src="/assets/img/6.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-siete"><img src="/assets/img/7.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-ocho"><img src="/assets/img/8.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-nueve"><img src="/assets/img/9.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num-diez"><img src="/assets/img/10.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
  </div>

</ion-content>
