<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Abecedario!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="violeta">

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a href="a"><img src="/assets/img/A.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="b"><img src="/assets/img/B.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="c"><img src="/assets/img/C.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="d"><img src="/assets/img/D.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="e"><img src="/assets/img/E.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="f"><img src="/assets/img/F.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="g"><img src="/assets/img/G.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="h"><img src="/assets/img/H.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="i"><img src="/assets/img/I.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="j"><img src="/assets/img/J.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="k"><img src="/assets/img/K.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="l"><img src="/assets/img/L.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="m"><img src="/assets/img/M.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="n"><img src="/assets/img/N.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="n1"><img src="/assets/img/Ñ.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="o"><img src="/assets/img/O.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="p"><img src="/assets/img/P.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="q"><img src="/assets/img/Q.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="r"><img src="/assets/img/R.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="s"><img src="/assets/img/S.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="t"><img src="/assets/img/T.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="u"><img src="/assets/img/U.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="v"><img src="/assets/img/V.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="w"><img src="/assets/img/W.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="x"><img src="/assets/img/X.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="y"><img src="/assets/img/Y.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
    <a href="z"><img src="/assets/img/Z.jpg" alt="Enviar" style= "width: 50px; height: 50px; margin-left: 5px;"></a>
  </div>

</ion-content>
