<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Colores!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="violeta">

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 40px;">
    <a href="color-blanco"><img src="/assets/img/color_blanco.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="color-negro"><img src="/assets/img/color_negro.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="color-amarillo"><img src="/assets/img/color_amarillo.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="color-azul"><img src="/assets/img/color_azul.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="color-cafe"><img src="/assets/img/color_cafe.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="color-celeste"><img src="/assets/img/color_celeste.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="color-naranja"><img src="/assets/img/color_naranja.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="color-rojo"><img src="/assets/img/color_rojo.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="color-rosado"><img src="/assets/img/color_rosado.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="color-verde"><img src="/assets/img/color_verde.jpg" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
  </div>

</ion-content>
