<ion-content padding>
  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <img src="/assets/img/F.jpg" alt="Enviar" style= "width: 80px; height: 80px;">
  </div>
  
  <div style="text-align: center; align-content:center; align-self:center;">
    <img src="/assets/img/gifF.gif" alt="Enviar" style= "width: 140px; height: 240px;">
  </div>

  <ion-text text-center>
    <h6>Con los dedos pugar e índice hacer la forma de un círculo, mientras los 3 restantes mantenerlos vertical a la misma altura.</h6>
  </ion-text>
</ion-content>
  
<ion-footer>
  <ion-toolbar color="verde">
    <ion-buttons slot="start" style="margin-left: 10px;">
      <ion-button (click)='anterior()'><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="start" style="margin-left: 35px;">
      <ion-button (click)='siguiente()'><ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-right: 35px;">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-right: 10px;">
      <ion-button (click)='regresar_categoria()'><ion-icon name="exit"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
